
html {
     scroll-behavior: smooth;
}

body {
   background-image: url('../images/background.jpg'); /* 배경 이미지 설정 */
}

/* 모바일 전용 스마트폰 */
@media (max-width: 480px) {
   body{
      font-size : 0.5rem;
   }
}

/* 태블릿 세로모드 */
@media (min-width: 481px) and (max-width: 768px) {
   body{
      font-size : 0.5rem;
   }
}

/* 태블릿 (가로 모드) 및 작은 노트북 */
@media (min-width: 769px) and (max-width: 1024px) {
   body{
      font-size : 1.8rem;
   }
}

/* 데스크톱 & 대형 화면 */
@media (min-width: 1025px) {
  body {
     font-size: 1.8rem;
  }
}

.main-logo {
   display: block;
   margin: 0 auto;
   width: 200px; /* 원하는 크기로 조정 */
   height: 200px; /* 정사각형으로 설정 */
   border-radius: 50%; /* 원형으로 자르기 */
   border: 5px solid turquoise; /* 청록색 테두리 */
   object-fit: cover; /* 이미지가 잘리지 않고 꽉 차게 */
}

.botton-logo-div {
    display: block;
    margin: 0 auto;
    width: 200px; /* 원하는 크기로 조정 */
    height: 200px; /* 정사각형으로 설정 */
    border-radius: 30%; /* 원형으로 자르기 */
    border: 10px solid purple; /* 청록색 테두리 */
    object-fit: cover; /* 이미지가 잘리지 않고 꽉 차게 */
    justify-content: center; /* 수평 중앙 */
    align-items: center;     /* 수직 중앙 */
}

.name-custom-font {
    font-size: 2.2rem;
    color : "rgb(255, 0, 128)";
    font-family: 'MaplestoryOTFBold';
}

@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.left-fiexd-div {
    position: fixed;
    top: 2rem;
    width: 20%;
    height: 90%;
    margin-left:2rem;
    padding-left: 2rem;
    border: 0.5rem solid turquoise; /* 청록색 테두리 */
}

.right-fiexd-div {
    position: fixed;
    right: 0;
    top: 2rem;
    width: 20%;
    height: 90%;
    margin-right:2rem;
    padding-right: 5rem;
    border: 0.5rem solid turquoise; /* 청록색 테두리 */
}

.left-fiexd-input {
    position: fixed;
    top: 3rem;
    justify-content: center; /* 수평 중앙 정렬 */
}

.right-fiexd-input {
    position: fixed;
    top: 3rem;
    justify-content: center; /* 수평 중앙 정렬 */
}

.content {
    margin-left: 15rem; /* 왼쪽 영역의 너비보다 약간 크게 설정 */
    margin-right: 15rem; /* 오른쪽 영역의 너비보다 약간 크게 설정 */
    padding: 1.5rem;
}


